

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 8px 16px;

    background: var(--titleBg);
    border: 1px solid var(--btnBorder);
    border-radius: 5px;

    & > span {
        color: transparent;
        font-size: 1.25rem;
        font-weight: 900;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        background-image: var(--gradientColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}