

.nav {
    width: 100%;
    height: auto;

    &__ul {
        width: 100%;
        height: auto;

        list-style: none;
    }
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.flexStart {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

@media screen and (max-width: 990px) {
    .flexWrap {
        gap: 48px;
    }
    .flexStart {
        gap: 48px;
    }
}