

.header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 30px;
    padding: 25px 0;
    column-gap: 60px;

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 10px;

        & > h1 {
            color: var(--primary);
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: .5px;
        }
    }

    &__nav {
        width: 100%;
        height: auto;
    
        flex: 1;
    }

    &__ul {
        width: 100%;
        height: auto;

        display: flex;
        align-items: flex-start;
        gap: 32px;

        list-style: none;
    }

    &__list {
        color: var(--secondary);
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .5px;

        transition: color ease-in-out 0.15s;

        &:hover {
            color: var(--primary);
        }
    }

    &__button {
        background: var(--btnPrimary);
        border: 1px solid var(--btnBorder);
        border-radius: 5px;

        transition: background ease-in-out 0.15s;

        &:hover {
            background: var(--btnBorder);
        }

        & > button {
            color: var(--primary);
            font-size: 0.875rem;
            font-weight: 700;
            letter-spacing: .5px;

            padding: 12px 24px;
            text-transform: uppercase;
        }
    }

    &__navIcon {
        width: 2rem;
        height: auto;
        color: var(--primary);

        cursor: pointer;
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .header {
        justify-content: space-between;
        
        &__nav {
        display: none;
        }

        &__mobile {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }

        &__navIcon {
            display: block;
        }
    }
}

@media screen and (max-width: 740px) {
    .header {
        &__logo {
            & > h1 {
               display: none;
            }
        }

        &__button {
            & > button {
                font-size: 0.75rem;
                font-weight: 500;
                padding: 10px 20px;
            }
        }
    }
}