@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--bgColor);
}

:root {
  --bgColor: #09090B;
  --primary: #FFF;
  --secondary: #A1A1AA;
  --btnPrimary: #27272A;
  --btnBorder: #3F3F46;
  --gradientColor: linear-gradient(90deg, #E8429C 0%, #7967FF 100%);
  --titleBg: #18181B;
}